{% load static %}

  {% block meta %}
  {% endblock meta %}

  {% include 'inc/navbar.html' %}


  {% block user %}
  {% endblock user %}
  </nav>
  
</header>

<!-- Begin page content -->

<main role="main" class="flex-shrink-0">
    <div class="topic">
        <div class="row">
            {% block content %}
        {% endblock content %}
    </div>
    <div class="col-3">
        <div class="popular-tags">Popular tags:</div>
            
            {% for tag in top_tags %}
            <a href="{% url 'tag' tag.name %}" class="pop-tag-4">{{ tag.name }}</a>
            {% endfor%}
         
      <div class="top-members">Top users:</div>    
        <div class="listing-top-mem">
                      <ul class="nav flex-column">
              {% for user in top_users %}
                                <li><a href="">{{user}}</a></li>
                            {% endfor %}
            </ul>
        </div>
    </div>
  </div>
</div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted"></span>
  </div>
</footer>
<script src="/../../static/js/jquery.slim.min.js"></script>
<script src="/../../static/js/popper.min.js"></script>
<script src="/../../static/js/bootstrap.min.js"></script>

      </body>
</html>
