{% load static %}

<div class="row comment-box">
            <div class="col-3">
                <img class="comment-img" src="{% static "img/11.jpg" %}"></img>
            </div>
            <div class="col-9">
                <div class="comment-text">Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible text), or is included through alternative means, such as additional text hidden with the .sr-only class.
            </div>
                <div class="row second-con">
                 <span class="likebtn-wrapper" data-identifier="item_1"></span>
                    <!-- LikeBtn.com BEGIN -->
                    <div class="like-dislike" role="group" aria-label="Button group with nested dropdown">
                      <button type="button" class="btn btn-secondary">like</button>
                      <button type="button" class="btn btn-secondary">dislike</button>
                    </div>
                    <!-- LikeBtn.com END -->
                </div>
            </div>
        </div>