{% load static %}

<div class="row question-box-answers">
            <div class="col-4">
                <img class="question-img" src="{% static "img/200.jpg" %}"></img>
                <div class="l-d" role="group" aria-label="Button group with nested dropdown">
                      <button type="button" class="btn btn-secondary">like</button> 0 
                      <button type="button" class="btn btn-secondary">dislike</button>

                </div>
                Author : {{ state.author }}
            </div>
            <div class="col-8">
                <div class="question-title">{{ state.title  }}
                    <a class="question-link" href=""></a>
                </div>
                <div class="question-text">{{ state.text }}
            </div>
                <div class="row second-conn">
                    <div class="col-3">Tags: 
                        <a class="curr-tag" href="{% url 'tag' %}">Sadness</a>
                    </div>
                </div>
            </div>
        </div>