{% extends 'inc/base.html' %}
{% load static %}

{% block meta %}
{% include 'inc/meta.html' %}
  {% endblock meta %}

  {% block user %}
  {% include 'inc/logged_user.html' %}
  {% endblock user %}

{% block content %}
            <div class="topic2">Tag: {{ tag }}</div>
        </div>
    </div>
  <div class="container">
  <div class="row">
    <div class="col-9">
        {% for a in page_obj.object_list %}
            {% include 'inc/one_question.html' %}
        {% endfor %}
        
        
      
        {% include 'inc/paginator.html' %}

{% endblock content %}